
<div class="container">
  <div class="container__div container__div--div1" appResizable>
  <app-widget1></app-widget1>
  </div>
  <div class="container__div container__div--div2" [resizableMinWidth]=30 appResizable >
    <app-widget2></app-widget2>
  </div>
  <div class="container__div container__div--div3" appResizable>
    <app-widget3></app-widget3>
  </div>
  </div>

  <div class="container">
    <div class="container__div container__div--div1" appResizable>
    <app-widget4></app-widget4>
    </div>
    <div class="container__div container__div--div2" [resizableMinWidth]=30 appResizable >
      <app-widget5></app-widget5>
    </div>
    <div class="container__div container__div--div3" appResizable>
      <app-widget6></app-widget6>
    </div>
    </div>

    <!-- <div class="container">
      <div class="container__div container__div--div1" appResizable>
      <app-widget7></app-widget7>
      </div>
      <div class="container__div container__div--div2" [resizableMinWidth]=30 appResizable >
        <app-widget8></app-widget8>
      </div>
      <div class="container__div container__div--div3" appResizable>
        <app-widget9></app-widget9>
      </div>
      </div> -->

      <div class="container">
        <div class="container__div container__div--div10" appResizable>
        <app-widget10></app-widget10>
        </div>
        </div>
