/* You can add global styles to this file, and also import other style files */
body {
  background: #282828;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  &__div {
    position: relative;
    width: 32vw;
    height: 27vh;
    flex-grow: 0;
    margin: 8px;
    background: #454b54;
    padding: 6px;

    &--div10 {
      width: 100vw;
      height: 36vh;
      // background: yellow;
    }
  }
}

